#### price = w1 * area + w2 * bedrooms + w3 * age + b

In [5]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import math

In [6]:
data = pd.read_csv("house_data.csv")
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

##### a bedrooms data point is missing(NaN), take median of remaining and put it

In [11]:
# taking median of remaining bedrooms data
median_bedrooms = math.floor(data.bedrooms.median()) 
median_bedrooms

3

In [13]:
# To fill all NaN spots of bedrooms column with a certain value
data.bedrooms = data.bedrooms.fillna(median_bedrooms)
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [14]:
reg = linear_model.LinearRegression()
reg.fit(data[['area','bedrooms','age']], data.price)

LinearRegression()

In [16]:
reg.coef_  # get the parameters w1, w2 and w3

array([   137.25, -26025.  ,  -6825.  ])

In [17]:
reg.intercept_  # get parameter b

383724.99999999977

##### Predict house with: 3000 sq ft area, 3 bedrooms, 40 year old

In [27]:
reg.predict([[3000,3,40]])

C:\Users\DELL\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([444400.])

###### Double checking the math with parameters

In [26]:
137.25*3000 + -26025.0*3 + -6825.0*40 + 383724.9999999

444399.9999999

Predict house with: 2500 sq ft area, 4 bedrooms, 5 year old

In [28]:
reg.predict([[2500,4,5]])

C:\Users\DELL\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([588625.])