In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("Datasets/customer.csv")

In [3]:
data.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [6]:
df = data.iloc[:, 2:]
df.sample(5)

     review education purchased
35     Poor    School       Yes
49     Good        UG        No
44  Average        UG        No
28     Poor    School        No
17     Poor        UG       Yes

#### The feature review and education has ordinal categories. 
Their categories have a relation within themselves, an order is seen. For eg: Good >> Average >> Poor. Then PG >> UG >> School. One is higher than the other. So we'll use oridnal encoder.

In [7]:
from sklearn.model_selection import train_test_split

In [33]:
X = df.iloc[:, :2]
X.head(4)

    review education
0  Average    School
1     Poor        UG
2     Good        PG
3     Good        PG

In [13]:
y = df.iloc[:, -1]
y.sample(4)

49     No
38     No
11    Yes
19    Yes
Name: purchased, dtype: object

In [36]:
(X_train, X_test, y_train, y_test) = train_test_split(X, y, test_size=0.3, random_state=42)

In [37]:
X_train.head(5)

   review education
6    Good    School
41   Good        PG
46   Poor        PG
47   Good        PG
15   Poor        UG

In [38]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories= [['Poor','Average','Good'],['School','UG','PG']])

In [39]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [40]:
X_train = oe.transform(X_train)
X_test = oe.transform(X_test)

In [43]:
X_train = pd.DataFrame(X_train)
X_train.head(5)

     0    1
0  2.0  0.0
1  2.0  2.0
2  0.0  2.0
3  2.0  2.0
4  0.0  1.0

Trye matching the values above, We have choosen the order 0, 1, 2 for Poor, Average, Good. Same for School, UG, PG

In [44]:
y_train.head(5)

6      No
41    Yes
46     No
47    Yes
15     No
Name: purchased, dtype: object

In [45]:
from sklearn.preprocessing import LabelEncoder

In [46]:
le = LabelEncoder()

In [47]:
le.fit(y_train)

LabelEncoder()

In [48]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [49]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [50]:
y_train = pd.DataFrame(y_train)
y_train.head(5)

   0
0  0
1  1
2  0
3  1
4  0